*,
*:after,
*:before{
    box-sizing: border-box;
}

body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    color: #111238;
    margin: 0;
}

button{
    font-family: 'Fira Sans', sans-serif;
}

img{
    max-width: 100%;
}

.header{
    background-color: #F2F3F6;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item:not(:last-child){
    margin-right: 20px;
}

.menu-link{
    text-decoration: none;
    color: #111238;
}

.button{
    text-decoration: none;
    display: inline-block;
    border:none;
    font-size: 16px;
}

.button-link{
    color: #111238;
    padding: 10px;
    margin-right: 30px;
}

.button-primary{
    background: #1A75E8;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    
}

.button-icon{
    vertical-align: middle;
}

.button-text{
    vertical-align: middle;
    margin-left: 10px;
}

.hero-title{
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;  
    margin-bottom: 15px;
    margin-top: 43px;
}

.hero-text{
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 30px;
}

.input-group{
    background-color: #fff;
    border: 1px solid rgba(209, 209, 209, 0.1);
    box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 30px;
}

.input{
    border-color: #fff;
    border: none;
    flex-grow: 1;
    font-size: 16px;
    line-height: 19px;
    padding-left: 15px;
}

.input:focus{
    outline: 1px dotted #666;
}

.tags-group{
   padding-left: 15px;
   color: #B2B2B2;
   font-size: 14px;
   line-height: 17px;
}

.tags-label{
    text-decoration: none; 
    margin-right: 5px;
    color: #B2B2B2;
    font-size: 14px;
    line-height: 17px;
}

.tag{
    color: #B2B2B2;
    text-decoration: none; 
    border: 1px solid #B2B2B2;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
}

.section{
    padding-top: 70px;
    padding-bottom: 80px;
}

.section-title{
    margin-bottom: 40px;
    margin-top: 0;
}

.card{
    text-decoration: none;
    color: #111238;
    background: #F2F3F6;
    border-radius: 10px;
    font-size: 16px;
    line-height: 19px;
    padding: 35px;
    transition: background 0.5s, color 0.3s;
}


.card:hover{
    background-color: #1A75E8;
    color: #fff;
}

.card:hover .card-icon{
    fill:#fff
}


.card-icon{
    fill: #111238;
    margin-bottom: 15px;
    transition: fill 0.3s;
}

.offer{
    border-radius: 10px;
    border: 1px solid #C5C9D5;
    padding: 30px;
    margin-bottom: 20px;
}

.offer-image{
    background: #fff url('../img/logo-company.png') no-repeat center / contain;
    width: 100px;
    height: 100px;
    border: 1px solid #C5C9D5;
    border-radius: 50%;
    
}

.offer-title{
    margin-left: 20px;
}

.offer-heading{
    line-height: 19px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
}

.offer-place{
    font-size: 14px;
    line-height: 17px;
}

.offer-salary{
    color: #fff;
    background: #1A75E8;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 25px;
    margin-left: 46px;
    margin-right: 62px;
}

.more{
    text-decoration: none;
    color: #1A75E8;
    font-size: 14px;
    line-height: 17px;
    margin-left: auto;
    margin-right: 25px;
}

.button-more { 
    display: flex;
    background: #1A75E8;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    width: 100%;
}

.subcribe{
    background: #F2F3F6;
}


.subcribe-form{
    max-width: 460px;
    margin: auto;
    text-align: center;
}

.subcribe-title{
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 20px;
}

.subcribe-subtitle{
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 40px;
}

.footer{
    padding-top: 70px;
    padding-bottom: 100px;
}

.footer-title{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 15px;
    margin-top: 0;
}

.footer-logo-link:not(:last-child){
    margin-bottom: 20px;
}

.footer-list-link{
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #111238;
    display: block;
}

.footer-description{
    text-decoration: none;
    font-size: 12px;
    line-height: 140%;
    color: #B2B2B2;
    margin-bottom: 10px;
}

.footer-copyright{
    text-decoration: none;
    font-size: 12px;
    line-height: 140%;
    color: #B2B2B2;
}

.footer-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-list-item{
    margin-bottom: 10px;
}

.row{
    margin-top: 70px;
}

.hidden{
    display: none;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.modal-form{
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    max-width: 750px;
    width: 100%;
    height: 540px;
    max-height: 100%;
    padding: 71px 57px;
    box-shadow: 0px 4px 25px rgb(15 17 56 / 10%);
    background: #fff;
    border-radius: 5px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    transform: translate(-50%, -50%);
    z-index: 14;
}

.modal-title{
    margin-top: 0;
    margin-bottom: 35px;
}

.job{
    color: #1A75E8;
}

.button:hover{
    background: #1150af;
}

.button:active{
    background: #003a92;
}

.close-modal-button{
    position: absolute;
    display: block;
    top: 0px;
    font-size: 40px;
    right: 20px;
    text-decoration: none;
    color: #1A75E8;
}


.close-button:hover{
    color: rgb(201, 0, 0);
}

.close-modal-button:hover{
    color: rgb(201, 0, 0);
}

.button-modal{
    background: #1A75E8;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    
}

.modal-input{
    width: 100%;
    display: block;
    box-shadow: 0px 4px 25px rgb(15 17 56 / 10%);
    border: none;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .offer-salary{
        margin-left: 30px;
        margin-right: 30px;
    }
    .more{
        margin-right: 0;
    }
    
    .modal-form{
        max-width: 600px;
        width: 100%;
        height: 440;
        max-height: 100%;
        padding: 50px;

    }

}

@media (max-width: 992px){
    .more{
        margin-right: auto;
        margin-left: auto;
    }

    .offer-title{
        text-align: center;
        margin-left: 0;
    }
    .tag{
        margin-left: 5px;
        margin-right: 5px;
    }
    .navbar{
        position: fixed;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        transform: translateX(-100%);
        transition: transform 0.3s;
    }
    .is-open{
        transform: translateX(0);
    }

    .menu-item:not(:last-child){
        margin-right: 0;
    }
    .button-link{
        margin-right: 0;
    }
    .close-button{
        position: fixed;
        top: -15px;
        right: 10px;
        text-decoration: none;
        font-size: 24px;
        text-align: right;
        padding: 20px;
        color: #1A75E8;
        font-size: 40px;
    }

    .modal-form{
        max-width: 500px;
        width: 100%;
        height: 350;
        max-height: 100%;
        padding: 40px;
    }

    .modal-title{
        font-size: 40px;
    }
}

@media (max-width: 760px){
    .modal-form{
        max-width: 450px;
        width: 100%;
        height: 340;
        max-height: 100%;
        padding: 35px;

    }

    .modal-input{
        font-size: 16px;
    }

    .modal-title{
        font-size: 38px;
    }
    .modal-descp {
        font-size: 16px;
    }
}




@media (max-width: 576px){
    .hero{
        text-align: center;
    }

    .hero-title{
        font-size: 26px;
        line-height: 1.4;
    }

    .footer{
        text-align: center;
    }

    .card{
        max-width: 250px;
        margin: auto;
    }

    .section-title{
        text-align: center;
    }

    .tags-label{
        display: block;
        margin-bottom: 20px;
        text-align: center;
    }

    .modal-form{
        max-width: 400px;
        width: 100%;
        height: 300;
        max-height: 100%;
        padding: 30px;
    
    }

    .modal-title{
        font-size: 36px;
    }
    .modal-descp {
        font-size: 14px;
    }
}
@media (max-width: 500px){

    .modal-form{
        max-width: 370px;
        width: 100%;
        height: 500;
        max-height: 100%;
        padding: 20px;
        
    }

    .modal-title{
        font-size: 36px;
    }
    .modal-descp {
        font-size: 14px;
    }

}